body {
    margin: 20px;
    background: rgba(40,0,0,1);
    color: snow;

}

h1 { 
    font-family: '';
    

}
.Pages {
    display: flex;
    justify-content: space-around; 

}

.fine {
    background: linear-gradient(360deg, rgba(70,0,0,1) 20%, rgba(60,0,40,1) 100%);
    color: rgba(200,200,250,1);
    border-style: double;
    border-color: revert;
    margin: 2px;
    padding: 8px;
    width: 100px;
    border-radius: 200px;
}
.foul {
    background: linear-gradient(360deg, rgba(70,0,0,1) 20%, rgba(60,0,40,1) 100%);
    color: rgba(200,200,250,1);
    border-style: double;
    border-color: revert;
    margin: 2px;
    padding: 8px;
    width: 100px;
    border-radius: 200px;
}
.fine:hover {
    background-color: black;
}
.fine:active {
    background-color: crimson;
}
.buttons {
    display: flex;
    justify-content: flex-start;

}