body {
    margin: 40px;
    background: linear-gradient(360deg, rgba(10,0,0,1) 20%, rgba(0,0,0,1) 100%);
    color: snow;

}

h1 { 
    font-family: '';
    

}

button {
    background: linear-gradient(360deg, rgba(70,0,0,1) 20%, rgba(60,0,40,1) 100%);
    color: rgba(200,200,250,1);
    border-style: double;
    border-color: revert;
    margin: 2px;
    padding: 8px;
    width: 100px;
    border-radius: 200px;
}
button:hover {
    background-color: black;
}
button:active {
    background-color: crimson;
}
.buttons {
    display: flex;
    justify-content: flex-start;

}